# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/
.venv

# Jupyter Notebook
.ipynb_checkpoints/



# Images (optional)
*.jpg
*.jpeg
*.png

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
